.dt-paging {
    margin-top: 10px;
    margin-bottom: 0 !important;
}
.dt-paging nav {
    background: transparent;
    min-height: auto;
    height: auto;
    gap: 5px;
    z-index: 0 !important;
    padding: 5px;
}

div.dt-container .dt-paging .dt-paging-button,
.dt-paging nav button.dt-paging-button,
.dt-paging nav button {
    margin: 0 !important;
    border: none !important;
    border-radius: var(--radius2) !important;
    color: var(--bgcolor) !important;
    background: var(--color) !important;
}

.dt-paging nav button.dt-paging-button.current {
    background: var(--detail) !important;
    color: white !important;
}

.dt-paging nav button.dt-paging-button.disabled {
    opacity: 0.5 !important;
}

div.dt-container .dt-search {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
div.dt-container .dt-search label {
    display: none;
}
.dt-layout-row {
    margin: 0 !important;
}
.dt-info {
    margin-top: 10px;
}