{% extends "base.html" %}
{% load static %}

{% block titlefirst %} Administracion | {{user}} | Dashboard {% endblock %}
{% block linksextra %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/aside.css' %}" />
{% endblock %}

{% block bodyclass %}update_link{% endblock %}
{% block navlinks %}
<a href="#tabHome" class="link_item" data-toggle-tab="tabHome"> <span class="ic-solar home-angle"></span><span class="link_item-title">Inicio</span></a>
<a href="#tabMap" class="link_item" data-toggle-tab="tabMap"> <span class="ic-solar map"></span><span class="link_item-title">Mapa</span></a>
<a href="#tabAbout" class="link_item none-xl" data-toggle-tab="tabAbout"> <span class="ic-solar user"></span><span class="link_item-title">Perfil</span></a>
<button type="button" class="link_item link_settings" data-toggle="#modalSettings-show-modal">
    <span class="ic-solar settings"></span>
    <span class="link_item-title">Configuracion</span>
</button>
{% endblock %}

{% block sectparentclass %}flexbox gap{% endblock %}
{% block sectchildid %}id="containerTabs"{% endblock %}
{% block sectchildclass %}container{% endblock %}
{% block aside %}
<aside id="userAside" class="container close" data-listening="scroll">
    <button type="button" id="close_aside" class="btn btn-second btn-hover btn-icon" data-toggle="aside-close" title="Cerrar Aside">
        <span class="ic-solar alt-arrow-right"></span>
    </button>
    <section id="contAbout" class="content listen_scroll">
        <article class="profile-box">
            <div class="photo-box">
                <div class="photo-item">
                    <img src="https://images.unsplash.com/photo-1422255198496-21531f12a6e8" alt="foto de perfil" />
                    <span></span>
                    <span></span>
                    <h2>{{user}}</h2>
                </div>
            </div>
        </article>
        <div class="p-15">
            <h2 class="aboutTitle center mb-15">{{user}}</h2>
            <p class="justify">Descripcion para {{user}}.</p>
        </div>
        <article class="submenu">
            <a href="{% url 'singout' %}" class="btn btn-submenu btn-hover">
                <span class="ic-solar logout-3"></span>
                <span class="btn-title">Cerrar Sesion</span>
            </a>
        </article>
    </section>
</aside>
{% endblock %}

{% block main %}
<div class="tabs">
    <div class="tab last-padding" data-tab="tabHome">
        <h2 class="center mb-15">Usuarios</h2>
        <h4 class="center mb-35">Nuevo Registro</h4>
        <div class="maxw-400">
            <form class="flexbox flex-column gap_40" method="POST" action="{% url 'singup' %}" data-valid-user>
                {% csrf_token %}
                <div class="flexbox gap2">
                    <div class="input_group validate">
                        <input type="text" name="first_name" id="first_name" />
                        <label class="link-input" for="first_name"><span class="ic-solar user"></span> Nombre:</label>
                    </div>
                    <div class="input_group validate">
                        <input type="text" name="last_name" id="last_name" />
                        <label class="link-input" for="last_name"><span class="ic-solar user"></span> Apellido:</label>
                    </div>
                </div>
                <div class="input_group validate">
                    <input type="text" name="username" id="username" autocomplete="off" />
                    <label class="link-input" for="username"><span class="ic-solar user-circle"></span> Usuario:</label>
                </div>
                <div class="input_group validate">
                    <input type="email" name="email" id="email" />
                    <label class="link-input" for="email"><span class="ic-solar letter"></span> Email:</label>
                </div>
                <div class="input_group validate">
                    <input type="password" name="password1" id="password1" autocomplete="off" />
                    <label class="link-input" for="password1"><span class="ic-solar shield-keyhole"></span> Contraseña:</label>
                </div>
                <button type="submit" class="btn btn-hover opacity" disabled>Enviar Registro <span class="ic-solar plain"></span></button>
                <input type="hidden" name="is_active" value="true">
            </form>
        </div>
    </div>
    <div id="map" class="tab will_transparent profile-mapbox" data-tab="tabMap"></div>
    <div data-listening="scroll-chil">
        <div class="tab last-padding has_header listen_scroll" data-tab="tabAbout">
            <div id="tabAbout"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/aside.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/submit.js' %}"></script>
{% endblock %}