*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    scrollbar-width: thin;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
    display: none;
}
:root[data-theme="light"] {
    --bgcolor: #ffffff;
    --second: #efefef;
    --color: #333;
    --bgA6: var(--whiteA6);
    --bgA5: var(--whiteA5);
    --bgA3: var(--whiteA3);
}
:root[data-theme="dark"] {
    --bgcolor: #212121;
    --second: #2d2d2d;
    --color: #fff;
    --bgA6: var(--darkA6);
    --bgA5: var(--darkA5);
    --bgA3: var(--darkA3);
}
:root {
    color-scheme: light dark;

    --darkA1: rgba(0, 0, 0, 0.1);
    --darkA2: rgba(0, 0, 0, 0.2);
    --darkA3: rgba(0, 0, 0, 0.3);
    --darkA4: rgba(0, 0, 0, 0.4);
    --darkA5: rgba(0, 0, 0, 0.5);
    --darkA6: rgba(0, 0, 0, 0.6);
    --darkA7: rgba(0, 0, 0, 0.7);
    --darkA8: rgba(0, 0, 0, 0.8);
    --darkA9: rgba(0, 0, 0, 0.9);

    --whiteA1: rgba(255, 255, 255, 0.1);
    --whiteA2: rgba(255, 255, 255, 0.2);
    --whiteA3: rgba(255, 255, 255, 0.3);
    --whiteA4: rgba(255, 255, 255, 0.4);
    --whiteA5: rgba(255, 255, 255, 0.5);
    --whiteA6: rgba(255, 255, 255, 0.6);
    --whiteA7: rgba(255, 255, 255, 0.7);
    --whiteA8: rgba(255, 255, 255, 0.8);
    --whiteA9: rgba(255, 255, 255, 0.9);

    --transitionCubicVal: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    --gdwhite: linear-gradient(#fff, #fff);
    --gradient_purple: linear-gradient(315deg, #4158d0, #c850c0, #ffcc70);
    --gradient_blue: linear-gradient(135deg, #5998ff, #1248ab);
    --gradient_green: linear-gradient(135deg, #b5e71d, #016228);
    --gradient_orange: linear-gradient(135deg, #fad961, #dc2b17);
    --gradient_blue-purple: linear-gradient(45deg, #af40ff, #5b42f3 50%, #00ddeb);
    --gradient_blue-sky: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    --purple-blue-green: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
    --rainbow-cacke: linear-gradient(
        45deg,
        rgba(196, 69, 69, 1) 9.2%,
        rgba(255, 167, 73, 0.82) 25%,
        rgba(253, 217, 82, 0.82) 43.4%,
        rgba(107, 225, 108, 0.82) 58.2%,
        rgba(107, 169, 225, 0.82) 75.1%,
        rgba(153, 41, 243, 0.82) 87.3%
    );
    --rainbow: linear-gradient(45deg, rgba(255, 26, 1, 1) 28.9%, rgba(254, 155, 1, 1) 33%, rgba(255, 241, 0, 1) 48.6%, rgba(34, 218, 1, 1) 65.3%, rgba(0, 141, 254, 1) 80.6%, rgba(113, 63, 254, 1) 100.1%);

    --main-icon_url: url("../img/main_icon.webp");

    --bgcolor: #ffffff;
    --second: #efefef;
    --color: #333;
    --gdbgcolor: linear-gradient(var(--bgcolor), var(--bgcolor));
    --gdcolor: linear-gradient(var(--color), var(--color));
    --bgA6: var(--whiteA6);
    --bgA5: var(--whiteA5);
    --bgA3: var(--whiteA3);
    --nav-height: 50px;
    --global-gap: clamp(1vh, 2vh, 4vh);
    --radius: 10px;
    --radius2: calc(var(--radius) / 2);
    --radius4: calc(var(--radius) / 4);
    --radius_inset: calc(var(--radius2) + var(--radius4));
}
::selection {
    background-color: #1f636d;
    color: #fff;
}
::-moz-selection {
    background-color: #1f636d;
    color: #fff;
}
:root [data-color="purple"] {
    --detail: var(--gradient_purple);
}
[data-color="purple"] ::selection {
    background-color: #c850c0;
}
[data-color="purple"] ::-moz-selection {
    background-color: #c850c0;
}
:root [data-color="blue"] {
    --detail: var(--gradient_blue);
}
[data-color="blue"] ::selection {
    background-color: #4a83df;
}
[data-color="blue"] ::-moz-selection {
    background-color: #4a83df;
}
:root [data-color="green"] {
    --detail: var(--gradient_green);
}
[data-color="green"] ::selection {
    background-color: #6ee71d;
}
[data-color="green"] ::-moz-selection {
    background-color: #6ee71d;
}
:root [data-color="orange"] {
    --detail: var(--gradient_orange);
}
[data-color="orange"] ::selection {
    background-color: #fad961 !important;
}
[data-color="orange"] ::-moz-selection {
    background-color: #fad961 !important;
}
:root [data-color="blue-purple"] {
    --detail: var(--gradient_blue-purple);
}
[data-color="blue-purple"] ::selection {
    background-color: #5b0ed8;
}
[data-color="blue-purple"] ::-moz-selection {
    background-color: #5b0ed8;
}
:root [data-color="purple-blue-green"] {
    --detail: var(--purple-blue-green);
}
[data-color="purple-blue-green"] ::selection {
    background-color: #2bd2ff;
}
[data-color="purple-blue-green"] ::-moz-selection {
    background-color: #2bd2ff;
}
:root [data-color="dynamic"] {
    --detail: var(--gdcolor-selected, rgb(92, 162, 255));
}
[data-color="dynamic"] ::selection {
    background-color: var(--color-selected, #5ca2ff);
}
[data-color="dynamic"] ::-moz-selection {
    background-color: var(--color-selected, #5ca2ff);
}
html {
    font-family: "Century Gothic", helvetica, arial, sans-seri;
    font-size: var(--fs, 16px);
    cursor: default;
}
body {
    opacity: 0;
    width: 100vw;
    position: relative;
    color: var(--color);
    scroll-behavior: smooth;
    padding: var(--global-gap);
    background: var(--bgcolor);
    overflow-x: hidden !important;
    transition: opacity 0.5s ease;
}
body.unload {
    opacity: 0;
}
body.load {
    opacity: 1;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}
input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
}
button,
a {
    padding: 0;
    outline: none;
    color: inherit;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button:disabled {
    cursor: not-allowed;
}

:is(h1, h2, h3, h4, h5, h6, p) {
    cursor: text;
}

img {
    border-radius: 10px;
}
.progressbar_alert {
    border: none;
    background: var(--detail);
    border-radius: 0 5px 5px 0;
}

nav {
    justify-content: space-between;
    max-height: var(--nav-height);
    border-radius: var(--radius);
    background: var(--second);
    height: var(--nav-height);
    align-items: center;
    position: relative;
    padding: 10px;
    display: flex;
    width: 100%;
    z-index: 5;
}
nav .nav_title {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
}
nav .nav_title .nav_title-img {
    height: 40px;
    aspect-ratio: 1/1;
    background-image: url("../img/main_icon.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav .nav_title span {
    font-size: 1.3rem;
    text-wrap: nowrap;
    color: transparent;
    background: var(--detail);
    background-clip: text;
}
nav .nav_toggle_menu {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
}
nav .nav_toggle_menu:hover {
    transform: scale(0.9);
}
nav .nav_toggle_menu span {
    height: 4px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background: var(--color);
    transform: initial;
    transition: 0.3s ease;
}
nav.active .nav_toggle_menu span:nth-child(1) {
    transform: translateX(2px) rotateZ(45deg);
    width: 30px;
    transform-origin: left;
}
nav.active .nav_toggle_menu span:nth-child(2) {
    transform: translateX(25px);
    opacity: 0;
}
nav.active .nav_toggle_menu span:nth-child(3) {
    transform: translateX(2px) rotateZ(-45deg);
    width: 30px;
    transform-origin: left;
}
nav .nav_links_box,
nav .nav_links_shadow {
    position: absolute;
    background: var(--second);
    top: calc(100% + var(--global-gap));
    display: none;
    right: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    border-radius: var(--radius);
    transition: opacity 0.3s ease;
}
nav .nav_links_shadow {
    height: 0;
    opacity: 0;
    left: unset;
    display: block;
    transform-origin: top center;
    transition: opacity 0.8s ease;
    width: calc(var(--nav-height) + var(--global-gap));
    border-radius: 0 0 0 var(--radius);
}
nav.active .nav_links_shadow::after,
nav.active .nav_links_shadow::before {
    content: "";
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background: transparent;
    border-top-right-radius: var(--radius);
    box-shadow: 3px -3px 0 3px var(--bgcolor);
}
nav .nav_links_shadow::after {
    bottom: calc(var(--radius) * -1);
    right: 0;
}
nav .nav_links_shadow::before {
    left: calc(var(--radius) * -1);
    top: 0;
}
nav.active .nav_links_box {
    opacity: 1;
}
nav.active .nav_links_shadow {
    display: none;
}
[data-menu-direction="vertical"] nav .nav_links_box {
    right: 0;
    opacity: 1;
    left: unset;
    width: fit-content;
    background: var(--bgcolor);
    border-radius: 0 0 0 var(--radius);
}
[data-menu-direction="vertical"] nav.active .nav_links_shadow {
    height: calc((var(--nav-height) * var(--num-btns, 5)) + (var(--global-gap) * var(--num-btns, 5)));
    display: block;
    opacity: 1;
    z-index: 4;
}
[data-menu-direction="vertical"][data-settings="window"] nav.active .nav_links_shadow {
    height: calc((var(--nav-height) * (var(--num-btns, 5) - 1)) + (var(--global-gap) * (var(--num-btns, 5) - 1)));
    display: block;
    opacity: 1;
    z-index: 4;
}
nav .nav_links_box .nav_links {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
[data-menu-direction="vertical"] nav .nav_links_box .nav_links {
    padding: var(--global-gap);
    padding-top: unset;
    padding-right: unset;
    gap: var(--global-gap);
    grid-template-columns: 1fr;
}
nav .nav_links .link_item {
    padding: 5px 10px;
    border-radius: 8px;
    background: var(--gdcolor);
    color: var(--bgcolor);
    text-align: center;
    transition: 0.3s ease;
}
[data-menu-direction="vertical"] nav .nav_links .link_item {
    width: var(--nav-height);
    height: var(--nav-height);
    position: relative;
    border-radius: var(--radius);
    background: var(--second);
}
nav .nav_links .link_item:focus-visible,
nav .nav_links .link_item.link_active,
nav .nav_links .link_item:focus,
nav .nav_links .link_item:hover {
    background: var(--detail);
    color: #ffffff;
}
[data-menu-direction="vertical"] nav .nav_links .link_item .link_item-title {
    position: absolute;
    top: 50%;
    right: 100%;
    padding: 5px 10px;
    text-wrap: nowrap;
    background: var(--color);
    border-radius: var(--radius);
    translate: 0 -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    color: var(--second);
}
[data-menu-direction="vertical"] nav .nav_links .link_item .link_item-title::before {
    position: absolute;
    height: 70%;
    aspect-ratio: 1/1;
    translate: 0 -50%;
    content: "";
    top: 50%;
    right: -4px;
    z-index: -1;
    rotate: 45deg;
    border-radius: calc(var(--radius) / 3);

    background: var(--color);
}
[data-menu-direction="vertical"] nav .nav_links .link_item:hover .link_item-title {
    opacity: 1;
    visibility: visible;
    right: calc(100% + 10px);
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .link_item-title,
[data-menu-direction="vertical"] nav .nav_links .link_submenu .link_item-title:before {
    display: none;
}
nav .nav_links .link_item .ic-solar {
    background: var(--gdbgcolor);
    margin-right: 4px;
    transform-origin: right bottom;
    transition: 0.3s ease;
}
[data-menu-direction="vertical"] nav .nav_links .link_item .ic-solar {
    margin-right: 0;
    transform-origin: center;
    height: 100%;
    width: 100%;
    background: var(--gdcolor);
}
nav .nav_links .link_item:focus-visible .ic-solar,
nav .nav_links .link_item.link_active .ic-solar,
nav .nav_links .link_item:focus .ic-solar,
nav .nav_links .link_item:hover .ic-solar {
    background: var(--gdwhite);
}
nav .nav_links .link_item.link_active:hover .ic-solar {
    transform: scale(1.2);
}
nav .nav_links .link_submenu {
    position: relative;
}
nav .nav_links .link_submenu .link_item {
    display: block;
    width: 100%;
}
nav .nav_links .link_submenu .submenu_box {
    --submenu-gap: 20px;
    position: absolute;
    right: 0;
    width: fit-content;
    min-width: 120px;
    text-align: center;
    background: var(--second);
    border-radius: var(--radius);
    visibility: hidden;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    top: 100%;
    transition: visibility 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}
nav .nav_links .link_submenu .submenu_box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--submenu-gap);
    top: calc(var(--submenu-gap) * -1);
    left: 0;
    right: 0;
    z-index: -1;
}
nav .nav_links .link_submenu .submenu_box::after {
    content: "";
    position: absolute;
    border-radius: var(--radius2);
    height: var(--submenu-gap);
    width: var(--submenu-gap);
    background: linear-gradient(135deg, var(--second) 50%, transparent 50%);
    top: calc((var(--submenu-gap) / 2) * -0.5);
    left: var(--submenu-gap);
    transform: rotate(45deg);
    z-index: 0;
}
nav .nav_links .link_submenu:hover .submenu_box {
    top: calc(100% + var(--submenu-gap));
    visibility: visible;
    opacity: 1;
}
nav .nav_links .link_submenu .submenu_box .submenu-title {
    display: none;
}
nav .nav_links .link_submenu .submenu_box .btn {
    color: var(--color);
    padding: 0;
    background: transparent;
}
nav .nav_links .link_submenu .submenu_box .btn:hover .ic-solar {
    background: var(--bgcolor) !important;
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box {
    top: 50%;
    left: unset;
    right: 100%;
    width: max-content;
    background: var(--color);
    transition: visibility 0.3s ease, opacity 0.3s ease, right 0.3s ease;
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box::before {
    width: calc(var(--submenu-gap) * 2);
    height: calc(100% + 20px);
    bottom: 0;
    top: unset;
    left: unset;
    right: calc(var(--submenu-gap) * -1);
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box::after {
    background: linear-gradient(225deg, var(--color) 50%, transparent 50%);
    top: calc((var(--submenu-gap) / 2) + 2px);
    left: unset;
    right: calc((var(--submenu-gap) / 2) * -0.8);
    transform: rotate(45deg);
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu:hover .submenu_box {
    right: calc(100% + var(--submenu-gap));
    opacity: 1;
    visibility: visible;
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box .submenu-title {
    display: block;
    color: var(--second);
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box .btn {
    color: var(--second);
}
[data-menu-direction="vertical"] nav .nav_links .link_submenu .submenu_box .btn:hover .ic-solar {
    background: var(--bgcolor);
}

.overlay {
    position: absolute;
    background: var(--darkA4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    inset: 0;
    z-index: 4;
    visibility: hidden;
    clip-path: ellipse(100% 0% at 50% 100%);
    transition: clip-path 0.3s ease, visibility 0.3s ease;
    transition-delay: 0s 0s;
}
[data-menu-direction="vertical"] .overlay.active {
    background: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    visibility: hidden;
    transition-delay: 0s 0s;
}
[data-menu-direction="vertical"] .overlay.show,
.overlay.show,
.overlay.active {
    visibility: visible;
    clip-path: ellipse(100% 120% at 50% 100%);
    transition-delay: 0s 0.4s;
    cursor: pointer;
}
.overlay.visible {
    z-index: 7;
}

/* Contenido */
.container {
    height: calc(100vh - ((var(--global-gap) * 3) + var(--nav-height)));
    margin-top: var(--global-gap);
    border-radius: var(--radius);
    background: var(--second);
    position: relative;
    width: 100%;
    top: 0;
    transition: width 0.3s ease, top 0.3s ease, height 0.3s ease;
    transition: 0.3s ease;
}
.container .content,
.container .tabs .tab {
    position: absolute;
    opacity: 0;
    inset: 15px;
    overflow: hidden;
    overflow-y: auto;
    visibility: hidden;
    border-radius: var(--radius_inset);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.container.transparent :is(.content, .tabs .tab) {
    inset: 0;
    border-radius: var(--radius);
}
.container .content,
.container .tabs .tab.active {
    opacity: 1;
    visibility: visible;
}
.modal,
.tab section,
.tab .content_min,
.content_form {
    width: 100%;
    padding: 15px;
    height: fit-content;
    background: var(--second);
    border-radius: var(--radius);
}
.tab .content_min {
    overflow: auto;
}
.modal,
.content_form {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

/* settings / configuraciones */
.container .settings_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--nav-height);
    background: var(--second);
    height: var(--nav-height);
    border-radius: var(--radius);
    align-content: center;
    text-align: center;
    font-size: 2rem;
    z-index: 4;
}
.container .settings_btn .ic-solar {
    background: var(--gdcolor);
    transform: scale(1);
    transition: 0.3s ease;
}
.container .settings_btn:focus-visible .ic-solar,
.container .settings_btn:focus .ic-solar,
.container .settings_btn:hover .ic-solar {
    background: var(--detail);
    transform: scale(1.2);
}
.container .settings_btn:active .ic-solar {
    transform: scale(0.8);
}
.container .settings_btn_overlay {
    --width: 15px;
    --height: calc((var(--nav-height) - 5px) + var(--global-gap));
    position: absolute;
    background: var(--bgcolor);
    width: calc(var(--nav-height) + var(--global-gap));
    height: calc(var(--nav-height) + var(--global-gap));
    border-top-right-radius: var(--radius);
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: var(--width) calc(var(--width) * -1) 0 var(--second);
}
.container .settings_btn_overlay::before,
.container .settings_btn_overlay::after {
    position: absolute;
    content: "";
    background: var(--second);
    height: var(--width);
    width: var(--height);
    left: 0;
    top: calc(var(--width) * -1);
    border-radius: 0 var(--radius);
    box-shadow: -5px 5px 0 var(--bgcolor);
}
.container .settings_btn_overlay::after {
    top: unset;
    left: unset;
    bottom: 0;
    height: var(--height);
    width: var(--width);
    right: calc(var(--width) * -1);
}
.transparent .settings_btn_overlay {
    box-shadow: none;
}
.transparent .settings_btn_overlay::before,
.transparent .settings_btn_overlay::after {
    background: transparent;
}
.container .settings_box.hidden .settings_btn,
.container .settings_box.hidden .settings_btn_overlay {
    display: none;
    visibility: hidden;
}

/* modal configuraciones */
.container .settings_modal {
    position: absolute;
    bottom: 15px;
    z-index: 4;
    right: 15px;
    height: 0;
    padding: 0;
    overflow: hidden;
    max-width: 500px;
    overflow-y: auto;
    background: var(--bgcolor);
    border-radius: var(--radius_inset);
    width: calc(100vw - (var(--nav-height) + 45px + (var(--global-gap) * 2)));
    transition: 0.3s ease;
}
.container.transparent .settings_modal {
    background: var(--second);
}
.container .settings_modal.modal_left {
    right: unset;
    left: 15px;
}
.container .settings_modal.show {
    height: 48vh;
    padding: 25px;
    padding-bottom: 10px;
}
.border-children > *,
.container .settings_modal .settings_group {
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}
.container .settings_modal .settings_group {
    padding-block: 20px;
    --btn-size: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.border-children > *:first-of-type,
.container .settings_modal .settings_group:first-of-type {
    border-top: none;
}
.border-children > *:last-of-type,
.container .settings_modal .settings_group:last-of-type {
    border-bottom: none;
}
.container .settings_modal .settings_group .switch_result {
    text-transform: capitalize;
}
.container .settings_modal .settings_group .btn-switch {
    border-radius: calc(var(--radius) - 2px);
    background: var(--detail);
    height: var(--btn-size);
    width: var(--btn-size);
    position: relative;
    overflow: hidden;
    color: white;
}
.container .settings_modal .settings_group .btn-switch:focus-visible,
.container .settings_modal .settings_group .btn-switch:focus {
    border: 3px solid var(--color);
}
.container .settings_modal .settings_group .btn-switch .ic-solar {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 5px;
    top: 20px;
    transform: initial;
    transition: 0.3s var(--transitionCubicVal);
}
.container .settings_modal .settings_group .btn-switch .ic-solar.active {
    visibility: visible;
    opacity: 1;
    top: 5px;
}
.container .settings_modal .settings_group .btn-switch:focus-visible .ic-solar,
.container .settings_modal .settings_group .btn-switch:focus .ic-solar,
.container .settings_modal .settings_group .btn-switch:hover .ic-solar {
    transform: scale(0.9);
}
.container .settings_modal .settings_group .btn-colors {
    height: var(--btn-size);
    width: var(--btn-size);
    aspect-ratio: 1/1;
    border-radius: var(--btn-size);
    border: 0 solid var(--color);
    transition: 0.3s ease;
}
.container .settings_modal .settings_group .btn-colors.active {
    border-width: 3px;
}
.container .settings_modal .settings_group .btn-colors:focus-visible,
.container .settings_modal .settings_group .btn-colors:focus,
.container .settings_modal .settings_group .btn-colors:hover {
    scale: 1.2;
}
.container .settings_modal .settings_group .select_font {
    height: var(--btn-size);
    max-height: 35px;
    width: 100%;
    padding: 2px 10px;
    border-radius: calc(var(--radius) - 2px);
    background: var(--second);
    margin-left: 20px;
    color: var(--color);
}

hr.divisor {
    border: none;
    min-height: 4px;
    border-radius: 4px;
    background: var(--color);
    margin-block: 15px;
    width: 100%;
}

[data-settings="window"] .last-padding {
    padding-bottom: 70px;
}

/* Post interacions */
.post {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.like-icon {
    scale: 1.2;
    transition: scale 0.3s ease;
}
.like-icon.active {
    scale: 1.2;
    transition: scale 0.3s ease;
    animation: pulse 0.6s ease-out;
}
@keyframes pulse {
    0% {
        background: var(--color-ic, --gdbgcolor);
        scale: 1.2;
    }
    50% {
        background: var(--detail);
        scale: 1.5;
    }
    100% {
        background: var(--color-ic, --gdbgcolor);
        scale: 1.2;
    }
}

/*############# Formularios #############*/
div.dt-container .dt-search input,
form .input,
form input {
    width: 100%;
    min-height: var(--size, 40px);
    border: 2px solid var(--bgcolor);
    border-radius: var(--radius_inset);
    background: var(--bgcolor);
    font-family: inherit;
    color: var(--color);
    padding: 5px 10px;
}
form input[type="checkbox"] {
    min-height: var(--size, 30px);
    width: var(--size, 30px);
}
form textarea {
    resize: none;
    height: calc(var(--size, 40px) * 3);
}
form label {
    cursor: pointer;
    user-select: none;
}
form .btn {
    min-height: 40px;
    min-width: 40px;
}

/*
* --icon es la cantidad que se le resta a size
* Ayuda a centrar el icono en el boton cuadrado
*/
div.dt-container .dt-search,
.input_group {
    --icon: 16px;
    width: 100%;
    position: relative;
}
.input_group button {
    min-width: var(--size, 40px);
    height: var(--size, 40px);
    border: 2px solid var(--bgcolor);
    border-radius: var(--radius_inset);
}
.input_group .link-input {
    position: absolute;
    height: var(--size, 40px);
    inset: 0;
    right: unset;
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
    align-items: center;
    transition: 0.3s ease;
}
.input_group .link-input .ic-solar {
    width: calc(var(--size, 40px) - var(--icon));
    height: calc(var(--size, 40px) - var(--icon));
    margin: 0 calc(var(--icon) / 2);
}
.input_group .input:focus,
.input_group input:focus {
    background: var(--bgA5);
}
.input_group .input.is-invalid,
.input_group input.is-invalid {
    border-color: tomato;
}
.input_group:has(.input.is-valid) .link-input,
.input_group:has(.input:focus) .link-input,
.input_group:has(.input.is-invalid) .link-input,
.input_group:has(input.is-valid) .link-input,
.input_group:has(input:focus) .link-input,
.input_group:has(input.is-invalid) .link-input {
    inset: unset;
    top: calc(((var(--size, 40px) / 2) * -1) - 4px);
    height: calc(var(--size, 40px) / 2);
}
.input_group:has(.input.is-valid) .link-input .ic-solar,
.input_group:has(.input.is-invalid) .link-input .ic-solar,
.input_group:has(.input:focus) .link-input .ic-solar,
.input_group:has(input.is-valid) .link-input .ic-solar,
.input_group:has(input.is-invalid) .link-input .ic-solar,
.input_group:has(input:focus) .link-input .ic-solar {
    width: calc(var(--size, 40px) - var(--icon) - 5px);
    height: calc(var(--size, 40px) - var(--icon) - 5px);
    margin: 0 calc((var(--icon) / 2) + 2.5px);
}
.input_group.group_icon .input,
.input_group.group_icon input {
    padding-left: var(--size, 40px);
}
.input_group.group_icon:has(.icon-input.last) .input,
.input_group.group_icon:has(.icon-input.last) input,
.input_group.group_icon-end .input,
.input_group.group_icon-end input {
    padding-right: var(--size, 40px);
}
.input_group.group_icon .icon-input,
.input_group.group_icon-end .icon-input,
.input_group.group_icon .icon-input.first {
    position: absolute;
    width: calc(var(--size, 40px) - var(--icon));
    height: calc(var(--size, 40px) - var(--icon));
    top: calc(var(--icon) / 2);
    left: calc(var(--icon) / 2);
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
}
.input_group.group_icon .icon-input.last,
.input_group.group_icon-end .icon-input {
    position: absolute;
    top: calc(var(--icon) / 2);
    right: calc(var(--icon) / 2);
    left: unset;
    overflow: hidden;
    min-width: unset;
}
.input_group.group_icon-end .icon-input:active,
.input_group.group_icon .icon-input:active {
    scale: 0.8;
}
.input_group.group_icon-end .icon-input .ic-solar,
.input_group.group_icon .icon-input .ic-solar {
    height: 100%;
    width: 100%;
    background: var(--gdcolor);
    border-radius: var(--radius_inset);
}

.input_group.without-border .input,
.input_group.without-border input,
.input_group.without-border button {
    border: none !important;
}

.input_group .error_text {
    padding: 10px 15px;
    width: fit-content;
    color: white;
    background: tomato;
    border-radius: var(--radius_inset);
    margin-top: 10px;
    display: inline-block;
}
.input_group .error_text ul {
    margin-left: 20px;
}

/* Buttons / Botones */
.btn,
.btn-invert,
.btn-second {
    display: inline-block;
    color: var(--bgcolor);
    background: var(--gdcolor);
    border-radius: var(--radius_inset);
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-invert {
    color: var(--color);
    background: var(--gdbgcolor);
}
.btn-invert .ic-solar {
    background: var(--gdcolor);
}
.btn.btn-content {
    padding: 10px 15px;
    min-width: 85px;
}
.hover-detail:hover,
.btn-hover:hover {
    color: white;
    background: var(--detail);
}
.hover-orange .ic-solar,
.hover-blue .ic-solar,
.hover-red .ic-solar,
.btn-hover .ic-solar {
    transition: 1s ease;
}
.btn-hover:hover .ic-solar {
    background: var(--gdwhite) !important;
}
.hover-red:hover {
    background: tomato;
    color: #fff;
}
.hover-blue:hover {
    background: cornflowerblue;
    color: #fff;
}
.hover-orange:hover {
    background: orange;
    color: #fff;
}
.btn-second {
    background: var(--second);
}
.btn-second .ic-solar {
    background: var(--gdcolor);
}
.btn-icon {
    display: grid;
    place-content: center;
}
.btn.btn-stack,
.btn-invert.btn-icon,
.btn.btn-icon {
    min-height: var(--size, 40px);
    height: var(--size, 40px);
    min-width: var(--size, 40px);
    width: var(--size, 40px);
}
.btn.btn-stack .ic-solar,
.btn-invert.btn-icon .ic-solar,
.btn.btn-icon .ic-solar {
    height: calc(var(--size, 40px) / 1.5);
    width: calc(var(--size, 40px) / 1.5);
    transition: 0.3s ease;
}
.btn.btn-stack:active .ic-solar,
.btn-invert.btn-icon:active .ic-solar,
.btn.btn-icon:active .ic-solar {
    scale: 0.8;
}

.btn.btn-stack {
    position: relative;
}
.btn.btn-stack .btn-stack_title {
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 5px 10px;
    color: var(--bgcolor);
    background: var(--color);
    transform: translateY(-50%);
    border-radius: var(--radius2);
    transition: 0.3s ease;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
}
.btn.btn-stack .btn-stack_title::before,
.btn-second.btn-stack .btn-stack_title::before {
    content: "";
    height: 18px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%) rotate(45deg);
    background: var(--color);
    z-index: -1;
    border-radius: var(--radius2);
}
.btn.btn-stack:hover .btn-stack_title,
.btn-second.btn-stack:hover .btn-stack_title {
    left: 110%;
    opacity: 1;
    visibility: visible;
}
.btn-disable {
    text-decoration: line-through;
    cursor: not-allowed;
}
.btn-disable.btn-hover:hover {
    background: var(--gdcolor);
    color: var(--bgcolor);
}
.btn-disable.btn-hover:hover .ic-solar {
    background: var(--gdbgcolor);
}

.btn-grad {
    background: linear-gradient(to right, #1a2980 0%, #26d0ce 51%, #1a2980 100%) !important;
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    /* change the direction of the change here */
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/*######### Lista de Iconos #########*/
.icons-hover {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}
.icons-hover button {
    border-radius: var(--radius_inset);
}
.icons-hover .ic-solar {
    font-size: 3.5rem;
    background: var(--gdcolor);
    cursor: pointer;
    transition: 0.3s ease;
}
.icons-hover button:focus-visible .ic-solar,
.icons-hover button:focus .ic-solar,
.icons-hover .ic-solar:hover {
    background: var(--detail);
}
.icons-hover button:active .ic-solar {
    scale: 0.8;
}

.dot-progress {
    width: var(--size, 12px);
    height: var(--size, 12px);
    border-radius: var(--size, 12px);
    background: var(--detail);
    display: inline-block;
}

/* blockquote */
.blockquote {
    padding-left: 15px;
    border-left: 3px solid var(--color);
}
.blockquote-rounded {
    position: relative;
    margin-left: 5px;
    padding-left: 20px;
}
.blockquote-rounded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--color);
    border-radius: 4px;
}

/* Corners Bottom */
.bgcolor-coners_b::after,
.bgcolor-coners_b::before {
    content: "";
    position: absolute;
    height: calc(var(--radius) * 1.5);
    width: calc(var(--radius) * 1.5);
    bottom: calc((var(--global-gap) - 1px) * -1);
    z-index: 1;
}
.bgcolor-coners_b::before {
    border-top-left-radius: var(--radius);
    box-shadow: -2px -2px 0 2px var(--bgcolor);
    left: 0;
}
.bgcolor-coners_b::after {
    border-top-right-radius: var(--radius);
    box-shadow: 2px -2px 0 2px var(--bgcolor);
    right: 0;
}

/* Tables / Tablas */
table {
    border: 1px solid var(--color);
    border-radius: 10px;
    width: 100%;
}
thead tr {
    background: var(--bgA3);
}
tbody tr:nth-child(odd) {
    background: var(--bgA5);
}
tbody tr:nth-child(even) {
    background: var(--bgA3);
}
td,
th {
    padding: 10px;
}
tbody tr:hover {
    background: var(--detail);
    color: white;
}

/* Modal */
.fixed {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 25px;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    inset: 0;
    background: var(--bgA6);
    backdrop-filter: blur(2px);
    clip-path: ellipse(100% 0% at 50% 100%);
    transition: clip-path 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, z-index 0.3s ease;
    transition-delay: 0s, 0s, 0s, 0.3s;
}
.fixed.visible {
    opacity: 1;
    z-index: 7;
    visibility: visible;
    clip-path: ellipse(100% 120% at 50% 100%);
    transition-delay: 0.3s, 0s, 0s, 0s;
}
.fixed .modal {
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform 0.3s var(--transitionCubicVal), opacity 0.3s ease;
    transition-delay: 0s, 0s;
    min-height: 300px;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
}
.fixed .modal .modal_header {
    border-bottom: 1px solid var(--color);
    padding: 15px;
}
.fixed .modal .modal_body {
    padding: 20px 25px;
    overflow-y: auto;
}
.fixed .modal .modal_footer {
    border-top: 1px solid var(--color);
    padding: 15px;
    display: flex;
}
.fixed.visible .modal {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition-delay: 0.6s, 0.5s;
}

/* Globales */
.w100 {
    width: 100%;
}

.sticky-top {
    position: sticky;
    top: -0.1px;
    z-index: 1;
}

.size {
    height: var(--size) !important;
    width: var(--size) !important;
}

.fs-08 {
    font-size: 0.8rem;
}
.fs-1-2 {
    font-size: 1.2rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-2-5 {
    font-size: 2.5rem;
}
.fs-3 {
    font-size: 3rem;
}

.capitalize {
    text-transform: capitalize;
}

.radius {
    border-radius: var(--radius);
}
.radius-inset {
    border-radius: var(--radius_inset);
}

.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pl-10 {
    padding-left: 10px;
}
.mx-center {
    margin: 0 auto;
}
.my-center {
    margin: auto 0;
}
.my-30 {
    margin-block: 30px;
}
.pb-gap {
    padding-bottom: var(--global-gap);
}
.m0 {
    margin: 0 !important;
}
.ml-5 {
    margin-left: 5px;
}
.ml-25 {
    margin-left: 25px;
}
.mt-gap {
    margin-top: var(--global-gap);
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-55 {
    margin-top: 55px;
}
.mb-gap {
    margin-bottom: var(--global-gap);
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.my-10 {
    margin-block: 10px;
}
.my-15 {
    margin-block: 15px;
}
.my-20 {
    margin-block: 20px !important;
}
.my-25 {
    margin-block: 25px;
}

.center {
    text-align: center;
}
.end {
    text-align: end !important;
}
.start {
    text-align: start;
}
.justify {
    text-align: justify;
}

.line-through {
    text-decoration: line-through;
}

.minw-65 {
    min-width: 65px;
}
.maxw-120 {
    max-width: 120px;
}
.maxw-450 {
    max-width: 450px;
}
.modal,
.maxw-600 {
    max-width: 600px;
}

/* flexbox */
.flexbox,
.flexbox-center,
.flexbox-children > * {
    display: flex;
    gap: 10px;
}
.flex-column {
    flex-direction: column;
}
.flex-row,
.flexbox.flex-row {
    flex-direction: row !important;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flexbox-center,
.flexbox.flex-center {
    justify-content: center;
}
.flex-end,
.flexbox.flex-end {
    justify-content: flex-end;
}
.between,
.flexbox.between,
.flexbox-children.between > * {
    justify-content: space-between;
}
.flexbox.around {
    justify-content: space-around;
}
.flexbox.evenly {
    justify-content: space-evenly;
}
.a-center,
.flexbox-center,
.flexbox.a-center {
    align-items: center !important;
}
.flexbox.a-end {
    align-items: end !important;
}
.flexbox.a-start {
    align-items: start !important;
}
.column-invert {
    flex-direction: column-reverse;
}

.gap {
    gap: 0;
}
.gap2 {
    gap: var(--global-gap);
}
.gap_0 {
    gap: 0px;
}
.gap_5 {
    gap: 5px;
}
.gap_10 {
    gap: 10px;
}
.gap_10-5-xl {
    gap: 0;
}
.gap_15 {
    gap: 15px;
}
.gap_20 {
    gap: 20px !important;
}
.gap_25 {
    gap: 25px;
}
.gap_30 {
    gap: 30px;
}
.gap_35 {
    gap: 35px;
}
.gap_40 {
    gap: 40px;
}
.gap_45 {
    gap: 45px;
}
.gap_50 {
    gap: 50px;
}
.gap_55 {
    gap: 55px;
}

.opacity {
    opacity: 0.5;
}
.none {
    display: none;
}
.none-s {
    display: none;
}
.none-m {
    display: initial;
}
.none-t {
    display: initial;
}
.none-xl {
    display: initial;
}
.block-xl {
    display: none;
}

.blue {
    background: var(--gradient_blue) !important;
}
.green {
    background: var(--gradient_green) !important;
}
.purple {
    background: var(--gradient_purple) !important;
}
.orange {
    background: var(--gradient_orange) !important;
}
.blue-purple {
    background: var(--gradient_blue-purple) !important;
}
.blue-sky {
    background: var(--gradient_blue-sky) !important;
}
.rainbow-cacke {
    background: var(--rainbow-cacke) !important;
}
.purple-blue-green {
    background: var(--purple-blue-green) !important;
}
.rainbow {
    background: var(--rainbow);
}
.bg-dynamic {
    background: var(--color-selected, #5ca2ff) !important;
}
.bg-white {
    background: #fff !important;
}
.detail,
.bg-detail {
    background: var(--detail) !important;
}
.bg-bgcolor {
    background: var(--bgcolor);
}
.bg-second {
    background: var(--second) !important;
}
.transparent {
    background: transparent !important;
}
.detail {
    color: white !important;
}

/* @media (min-width: 600px) {} */
@media (min-width: 968px) {
    [data-menu-direction="horizontal"] nav .nav_toggle_menu {
        display: none;
    }
    [data-menu-direction="horizontal"] nav .nav_links_box {
        position: unset;
        top: unset;
        right: unset;
        left: unset;
        opacity: 1;
        display: block !important;
    }
    [data-menu-direction="horizontal"] nav .nav_links_box .nav_links {
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    [data-menu-direction="horizontal"] nav .nav_links .link_item {
        min-width: 125px;
    }
    [data-menu-direction="horizontal"] nav .nav_links .link_item.link_settings {
        width: 30px !important;
        min-width: unset;
        padding: unset;
    }
    [data-menu-direction="horizontal"] nav .nav_links .link_item.link_settings .ic-solar {
        margin: 0 !important;
        scale: 1.6;
        transform-origin: center;
    }
    [data-menu-direction="horizontal"] nav .nav_links .link_item.link_settings .link_item-title {
        display: none;
    }
    .overlay.active {
        opacity: 0;
        visibility: hidden;
    }
    /* .overlay.show {
        background: transparent;
        opacity: 0;
    } */
}

@media (min-width: 1024px) {
    .none-xl {
        display: none !important;
    }
    .gap {
        gap: var(--global-gap);
    }
    [data-menu-direction="vertical"] nav.active .nav_links_shadow {
        height: calc((var(--nav-height) * (var(--num-btns, 5) - 1)) + (var(--global-gap) * (var(--num-btns, 5) - 1)));
    }

    [data-menu-direction="vertical"][data-settings="window"] nav.active .nav_links_shadow {
        height: calc((var(--nav-height) * (var(--num-btns, 5) - 2)) + (var(--global-gap) * (var(--num-btns, 5) - 2)));
    }
}

@media (prefers-color-scheme: dark) {
    [data-theme="device"]:root,
    :root {
        --bgcolor: #212121;
        --second: #2d2d2d;
        --color: #fff;
        --bgA6: var(--darkA6);
        --bgA5: var(--darkA5);
        --bgA3: var(--darkA3);
    }
}

.fadetop-delay > * {
    opacity: 0;
    translate: 0 0;
    visibility: hidden;
}
.fadetop-delay.active > * {
    visibility: visible;
    animation: fadetop 0.6s ease forwards;
    animation-delay: calc(0.4s * var(--i, 1));
}

@keyframes fadetop {
    0% {
        opacity: 0;
        translate: 0 30px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
