{% extends "base.html" %}
{% load static %}

{% block titlefirst %} Administracion | {{user}} | Dashboard {% endblock %}
{% block linksextra %}
<link rel="stylesheet" href="{% static 'css/aside.css' %}" />
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/dt.css' %}" />
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet"
    integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
{% endblock %}

{% block bodyclass %}update_link{% endblock %}
{% block navlinks %}
<a href="#tabHome" class="link_item" data-toggle-tab="tabHome"> <span class="ic-solar home-angle"></span><span class="link_item-title">Inicio</span></a>
<a href="#tabMap" class="link_item" data-toggle-tab="tabMap"> <span class="ic-solar map"></span><span class="link_item-title">Mapa</span></a>
<a href="#tabAbout" class="link_item none-xl" data-toggle-tab="tabAbout"> <span class="ic-solar user"></span><span class="link_item-title">Perfil</span></a>
<button type="button" class="link_item link_settings" data-toggle="#modalSettings-show-modal">
    <span class="ic-solar settings"></span>
    <span class="link_item-title">Configuracion</span>
</button>
{% endblock %}

{% block sectparentclass %}flexbox gap{% endblock %}
{% block sectchildid %}id="containerTabs"{% endblock %}
{% block sectchildclass %}container transparent{% endblock %}
{% block aside %}
<aside id="userAside" class="container close" data-listening="scroll">
    <button type="button" id="close_aside" class="btn btn-second btn-hover btn-icon" data-toggle="aside-close" title="Cerrar Aside">
        <span class="ic-solar alt-arrow-right"></span>
    </button>
    <section id="contAbout" class="content listen_scroll">
        <article class="profile-box">
            <div class="photo-box">
                <div class="photo-item">
                    <img src="{% static 'img/header_1.jpg' %}" alt="foto de perfil" />
                    <span></span>
                    <span></span>
                    <h2>{{user}}</h2>
                </div>
            </div>
        </article>
        <div class="p-15">
            <h2 class="aboutTitle center mb-15">{{user}}</h2>
            <p class="justify">Descripcion para {{user}}.</p>
        </div>
        <article class="submenu">
            <a href="{% url 'singout' %}" class="btn btn-submenu btn-hover">
                <span class="ic-solar logout-3"></span>
                <span class="btn-title">Cerrar Sesion</span>
            </a>
        </article>
    </section>
</aside>
{% endblock %}

{% block main %}
<div class="tabs">
    <div class="tab will_transparent last-padding" data-tab="tabHome">
        <div class="grid grid-cols grid-m-450">
            <form class="content_form" method="POST" action="{% url 'singup' %}" data-submit>
            <!-- <form class="content_form" method="POST" action="{% url 'singup' %}" data-submit data-validuser> -->
                <div>
                    <h3 class="center">Nuevo Usuarios</h3>
                </div>
                {% csrf_token %}
                <div class="input_group validate">
                    <select name="rol" id="rol" class="input">
                        <option selected hidden disabled></option>
                        <option value="admin">Administracion</option>
                        <option value="professor">Profesorado</option>
                        <option value="student">Estudiante</option>
                    </select>
                    <label class="link-input" for="rol"><span class="ic-solar academic-cap"></span> Roles:</label>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate">
                        <input type="text" name="first_name" id="first_name" />
                        <label class="link-input" for="first_name"><span class="ic-solar user"></span> Nombre:</label>
                    </div>
                    <div class="input_group validate">
                        <input type="text" name="last_name" id="last_name" />
                        <label class="link-input" for="last_name"><span class="ic-solar user"></span> Apellido:</label>
                    </div>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate">
                        <input type="text" name="insignia" id="insignia" />
                        <label class="link-input" for="insignia"><span class="ic-solar user"></span> Grupo:</label>
                    </div>
                    <div class="input_group validate">
                        <input type="number" name="num_list" id="num_list" min="1" class="end" />
                        <label class="link-input" for="num_list"><span class="ic-solar user"></span> # Lista:</label>
                    </div>
                </div>
                <div class="input_group validate">
                    <input type="text" name="username" id="username" autocomplete="off" />
                    <label class="link-input" for="username"><span class="ic-solar user-circle"></span> Usuario:</label>
                </div>
                <div class="input_group validate">
                    <input type="email" name="email" id="email" />
                    <label class="link-input" for="email"><span class="ic-solar letter"></span> Email:</label>
                </div>
                <div>
                    <div class="input_group validate">
                        <input type="password" name="password1" id="password1" autocomplete="off" />
                        <label class="link-input" for="password1"><span class="ic-solar shield-keyhole"></span> Contraseña:</label>
                    </div>
                    <button type="submit" class="btn btn-hover opacity mt-15 w100" disabled>Enviar Registro <span class="ic-solar plain"></span></button>
                </div>
                <input type="hidden" name="is_active" value="true">
            </form>
            <article class="content_min">
                <table id="usersTable" class="display">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oneuser in users_list %}
                        <tr id="row-user_{{ oneuser.id }}">
                            <td>{{ oneuser.id }}</td>
                            <td>{{ oneuser.username }}</td>
                            <td>{{ oneuser.first_name }}</td>
                            <td>{{ oneuser.last_name }}</td>
                            <td>{{ oneuser.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
        <div class="grid grid-cols mt-gap">
            <form class="content_form" method="POST" action="{% url 'singup' %}" data-submit data-validclass autocomplete="off">
                <div>
                    <h3 class="center">Nueva Clase</h3>
                </div>
                {% csrf_token %}
                <div class="input_group validate">
                    <input type="text" name="class_name" id="class_name" />
                    <label class="link-input" for="class_name"><span class="ic-solar book-bookmark"></span> Nombre:</label>
                </div>
                <div class="input_group validate">
                    <textarea name="description" id="description" class="input"></textarea>
                    <label class="link-input" for="description"><span class="ic-solar box-minimalistic"></span> Descripcion:</label>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate">
                        <select name="professor" id="professor" class="input">
                            <option selected hidden disabled></option>
                            <option value="Alan">Ing. Alan</option>
                            <option value="juan">Lic. juan</option>
                            <option value="Anna">Lic. Anna</option>
                            <option value="Vanessa">Ing. Vanessa</option>
                            <option value="Katerine">Ing. Katerine</option>
                        </select>
                        <label class="link-input" for="professor"><span class="ic-solar academic-cap"></span> Profesor:</label>
                    </div>
                    <div class="input_group validate maxw-120">
                        <select name="cycle" id="cycle" class="input">
                            <option selected hidden disabled></option>
                            <option value="2020-2021">2020 - 2021</option>
                            <option value="2021-2022">2021 - 2022</option>
                            <option value="2022-2023">2022 - 2023</option>
                            <option value="2023-2024">2023 - 2024</option>
                            <option value="2024-2025">2024 - 2025</option>
                            <option value="2025-2026">2025 - 2026</option>
                            <option value="2026-2027">2026 - 2027</option>
                        </select>
                        <label class="link-input" for="cycle"><span class="ic-solar calendar"></span> Ciclo:</label>
                    </div>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate maxw-120">
                        <select name="section" id="section" class="input">
                            <option selected hidden disabled></option>
                            <option value="Am">A :Matituno</option>
                            <option value="Av">A :Vespertino</option>
                            <option value="Bm">B :Matituno</option>
                            <option value="Bv">B :Vespertino</option>
                            <option value="Cm">C :Matituno</option>
                            <option value="Cv">C :Vespertino</option>
                            <option value="Dm">D :Matituno</option>
                            <option value="Dv">D :Vespertino</option>
                        </select>
                        <label class="link-input" for="section"><span class="ic-solar folder-cut"></span> Seccion:</label>
                    </div>
                    <div class="input_group validate">
                        <select name="students" id="students" class="input">
                            <option selected hidden disabled></option>
                            <option value="1">1) Anna H.</option>
                            <option value="2">2) Jose C.</option>
                            <option value="3">3) Fernanda A.</option>
                            <option value="4">4) Pablo J.</option>
                            <option value="5">5) Aaron G.</option>
                        </select>
                        <label class="link-input" for="students"><span class="ic-solar users-group-two-rounded"></span> Alumnos:</label>
                    </div>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate maxw-120">
                        <select name="sesion1" id="sesion1" class="input">
                            <option selected hidden disabled></option>
                            <option value="1">Lunes</option>
                            <option value="2">Martes</option>
                            <option value="3">Miercoles</option>
                            <option value="4">Jueves</option>
                            <option value="5">Viernes</option>
                        </select>
                        <label class="link-input" for="sesion1"><span class="ic-solar calendar-mark"></span> Sesion 1:</label>
                    </div>
                    <div class="input_group validate">
                        <input type="time" name="sesion_date1" id="sesion_date1" class="end" min="07:00">
                        <label class="link-input" for="sesion_date1"><span class="ic-solar hourglass"></span> Horario:</label>
                    </div>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate maxw-120">
                        <select name="sesion2" id="sesion2" class="input">
                            <option selected hidden disabled></option>
                            <option value="1">Lunes</option>
                            <option value="2">Martes</option>
                            <option value="3">Miercoles</option>
                            <option value="4">Jueves</option>
                            <option value="5">Viernes</option>
                        </select>
                        <label class="link-input" for="sesion2"><span class="ic-solar calendar-mark"></span> Sesion 2:</label>
                    </div>
                    <div class="input_group validate">
                        <input type="time" name="sesion_date2" id="sesion_date2" class="end" min="07:00">
                        <label class="link-input" for="sesion_date2"><span class="ic-solar hourglass"></span> Horario:</label>
                    </div>
                    <button type="button" id="delete_sesion2" class="btn btn-icon" title="Eliminar sesion 2"><span
                            class="ic-solar trash-bin-trash"></span></button>
                </div>
                <div class="flexbox gap2">
                    <div class="input_group validate maxw-120 opacity">
                        <select name="sesion3" id="sesion3" class="input">
                            <option selected hidden disabled></option>
                            <option value="1">Lunes</option>
                            <option value="2">Martes</option>
                            <option value="3">Miercoles</option>
                            <option value="4">Jueves</option>
                            <option value="5">Viernes</option>
                        </select>
                        <label class="link-input" for="sesion3"><span class="ic-solar calendar-mark"></span> Sesion 3:</label>
                    </div>
                    <div class="input_group validate opacity">
                        <input type="time" name="sesion_date3" id="sesion_date3" class="end" min="07:00">
                        <label class="link-input" for="sesion_date3"><span class="ic-solar hourglass"></span> Horario:</label>
                    </div>
                    <button type="button" id="add_sesion3" class="btn btn-icon" title="Agregar sesion 2"><span class="ic-solar add-circle"></span></button>
                </div>
                <button type="submit" class="btn btn-hover opacity" disabled>Registrar Clase <span class="ic-solar plain"></span></button>
            </form>
        </div>
    </div>
    <div id="map" class="tab profile-mapbox" data-tab="tabMap"></div>
    <div data-listening="scroll-chil">
        <div class="tab last-padding has_header listen_scroll" data-tab="tabAbout">
            <div id="tabAbout"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/aside.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/submit.js' %}"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu"
    crossorigin="anonymous"></script>
<script src="{% static 'js/datatable.js' %}"></script>
{% endblock %}