{% extends "base.html" %}
{% load static %}

{% block titlefirst %} Dashboard | {{user.first_name}} {% endblock %}
{% block linksextra %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/aside.css' %}" />
{% endblock %}

{% block bodyclass %}update_link{% endblock %}
{% block navlinks %}
<a href="#tabHome" class="link_item" data-toggle-tab="tabHome"> <span class="ic-solar home-angle"></span><span class="link_item-title">Inicio</span></a>
<a href="#tabMap" class="link_item" data-toggle-tab="tabMap"> <span class="ic-solar map"></span><span class="link_item-title">Mapa</span></a>
<a href="#tabAbout" class="link_item none-xl" data-toggle-tab="tabAbout"> <span class="ic-solar user"></span><span class="link_item-title">Perfil</span></a>
<button type="button" class="link_item link_settings" data-toggle="#modalSettings-show-modal">
    <span class="ic-solar settings"></span>
    <span class="link_item-title">Configuracion</span>
</button>
{% endblock %}

{% block sectparentclass %}flexbox gap{% endblock %}
{% block sectchildid %}id="containerTabs"{% endblock %}
{% block sectchildclass %}container transparent{% endblock %}
{% block aside %}
<aside id="userAside" class="container close" data-listening="scroll">
    <button type="button" id="close_aside" class="btn btn-second btn-hover btn-icon" data-toggle="aside-close" title="Cerrar Aside">
        <span class="ic-solar alt-arrow-right"></span>
    </button>
    <section id="contAbout" class="content listen_scroll">
        <article class="profile-box">
            <div class="photo-box">
                <div class="photo-item">
                    <img src="https://images.unsplash.com/photo-1422255198496-21531f12a6e8" alt="foto de perfil" />
                    <span></span>
                    <span></span>
                    <h2>{{user}}</h2>
                </div>
            </div>
        </article>
        <div class="p-15">
            <h2 class="aboutTitle center mb-15">{{user}}</h2>
            <p class="justify">Descripcion para {{user}}.</p>
        </div>
        <article class="submenu">
            <a href="{% url 'singout' %}" class="btn btn-submenu btn-hover">
                <span class="ic-solar logout-3"></span>
                <span class="btn-title">Cerrar Sesion</span>
            </a>
        </article>
    </section>
</aside>
{% endblock %}

{% block main %}
<div class="tabs">
    <div class="tab will_transparent grid" data-tab="tabHome">
        <div class="grid-item card-picture">
            <img loading="eager" src="{% static 'img/header_3.jpg' %}" class="picture" alt="image" />
            <div class="item__details"><span class="ic-solar cursor-square"></span> {{user}}</div>
        </div>
    </div>
    <div id="map" class="tab will_transparent profile-mapbox" data-tab="tabMap"></div>
    <div data-listening="scroll-chil">
        <div class="tab last-padding has_header listen_scroll" data-tab="tabAbout">
            <div id="tabAbout"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/aside.js' %}"></script>
{% endblock %}