{% extends "base.html" %}
{% load static %}

{% block titlefirst %}Registro de usuarios{% endblock %}
{% block navfirst %}{% url 'index' %}{% endblock %}
{% block navlinks %}
<a href="{% url 'index' %}#tabHome" class="link_item"> <span class="ic-solar home-angle"></span><span class="link_item-title">Inicio</span> </a>
<a href="{% url 'index' %}#tabProjects" class="link_item"> <span class="ic-solar book-bookmark"></span><span class="link_item-title">Proyectos</span> </a>
<a href="{% url 'index' %}#tabLogin" class="link_item"> <span class="ic-solar login-3"></span><span class="link_item-title">Iniciar Sesión</span></a>
<a href="{% url 'index' %}#tabAbout" class="link_item none-xl"> <span class="ic-solar user"></span><span class="link_item-title">Acerca de</span> </a>
<button type="button" class="link_item link_settings" data-toggle="#modalSettings-show-modal">
    <span class="ic-solar settings"></span>
    <span class="link_item-title">Configuracion</span>
</button>
{% endblock %}

{% block sectchildclass %}container transparent{% endblock %}
{% block main %}
<div class="content flexbox-center flex-column last-padding">
    <form class="content_form maxw-800 gap_15" method="POST" action="{% url 'singup' %}" data-submit data-validuser>
        <h3 class="center">Nuevo Usuario</h3>
        {% csrf_token %}
        <div class="input_group group_icon">
            <select name="rol" id="rol" class="input valinput" title="rol de usuario">
                <option selected hidden disabled>Roles:</option>
                <option value="admin">Administracion</option>
                <option value="professor">Profesorado</option>
                <option value="student">Estudiante</option>
            </select>
            <label class="icon-input first" for="rol"> <span class="ic-solar academic-cap"></span></label>
        </div>
        <div class="flexbox gap2">
            <div class="input_group group_icon">
                <input type="text" name="first_name" id="first_name" placeholder="Nombre(s):" class="valinput" />
                <label class="icon-input first" for="first_name"> <span class="ic-solar user-rounded"></span></label>
            </div>
            <div class="input_group group_icon">
                <input type="text" name="last_name" id="last_name" placeholder="Apellido(s):" class="valinput" />
                <label class="icon-input first" for="last_name"> <span class="ic-solar user-rounded"></span></label>
            </div>
        </div>
        <div class="none" id="user_distintive">
            <div class="flexbox gap2">
                <div class="input_group group_icon">
                    <input type="text" name="insignia" id="insignia" placeholder="Grupo:" data-indications="Escribe al menos 2 letras: 1A, 1B, 2A, 3Ctm, 3Ctv"
                        data-required="false" />
                    <label class="icon-input first" for="insignia"> <span class="ic-solar star"></span></label>
                </div>
                <div class="input_group group_icon" id="num_list_group">
                    <input type="tel" name="num_list" id="num_list" placeholder="No. Lista:" min="1" minlength="1" data-required="false" />
                    <label class="icon-input first" for="num_list"> <span class="ic-solar hashtag-circle"></span></label>
                </div>
            </div>
        </div>
        <div class="input_group group_icon">
            <input type="email" name="email" id="email" placeholder="Email: (opcional)" />
            <label class="icon-input first" for="email"> <span class="ic-solar letter"></span></label>
        </div>
        <button type="submit" class="btn btn-hover opacity w100" disabled>Enviar Registro <span class="ic-solar plain"></span></button>
        <input type="hidden" name="is_active" value="true" />
    </form>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/submit.min.js' %}"></script>
{% endblock %}