{% extends "base.html" %}
{% load static %}
{% block titlefirst %}Iconos | Proyectos{% endblock %}
{% block navlinks %}
<a href="{% url 'index' %}#tabHome" class="link_item"> <span class="ic-solar home-angle"></span><span class="link_item-title">Inicio</span> </a>
<a href="{% url 'index' %}#tabProjects" class="link_item"> <span class="ic-solar book-bookmark"></span><span class="link_item-title">Proyectos</span> </a>
<a href="{% url 'index' %}#tabLogin" class="link_item"> <span class="ic-solar login-3"></span><span class="link_item-title">Iniciar Sesión</span></a>
<a href="{% url 'index' %}#tabAbout" class="link_item none-xl"> <span class="ic-solar user"></span><span class="link_item-title">Acerca de</span> </a>
<button type="button" class="link_item link_settings" data-toggle="#modalSettings-show-modal">
    <span class="ic-solar settings"></span>
    <span class="link_item-title">Configuracion</span>
</button>
{% endblock %}

{% block main %}
<div class="content last-padding">
    <form data-nosubmit>
        <div class="input_group group_icon flexbox mb-25">
            <label class="icon-input" for="searchInput"><span class="ic-solar minimalistic-magnifer"></span></label>
            <input type="text" name="search_icon" id="searchInput" placeholder="Buscar icono" />
            <button title="Borrar busqueda" type="button" class="btn-invert btn-icon flexbox-center" id="searchClear" data-clear="searchInput">
                <span class="ic-solar backspace"></span>
            </button>
        </div>
    </form>
    <div class="icons-hover searchBox">
        <button title="icono" type="button" data-copy="ic-solar home-angle"><span class="ic-solar home-angle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar add-circle"><span class="ic-solar add-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar album-line"><span class="ic-solar album-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar book-bookmark"><span class="ic-solar book-bookmark"></span></button>
        <button title="icono" type="button" data-copy="ic-solar call-chat-rounded"><span class="ic-solar call-chat-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar card-id"><span class="ic-solar card-id"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cat"><span class="ic-solar cat"></span></button>
        <button title="icono" type="button" data-copy="ic-solar chat-round-line"><span class="ic-solar chat-round-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud"><span class="ic-solar cloud"></span></button>
        <button title="icono" type="button" data-copy="ic-solar copy"><span class="ic-solar copy"></span></button>
        <button title="icono" type="button" data-copy="ic-solar database"><span class="ic-solar database"></span></button>
        <button title="icono" type="button" data-copy="ic-solar devices"><span class="ic-solar devices"></span></button>
        <button title="icono" type="button" data-copy="ic-solar earth"><span class="ic-solar earth"></span></button>
        <button title="icono" type="button" data-copy="ic-solar fire"><span class="ic-solar fire"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gallery"><span class="ic-solar gallery"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gallery-circle"><span class="ic-solar gallery-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar ghost"><span class="ic-solar ghost"></span></button>
        <button title="icono" type="button" data-copy="ic-solar key-minimalistic"><span class="ic-solar key-minimalistic"></span></button>
        <button title="icono" type="button" data-copy="ic-solar layers"><span class="ic-solar layers"></span></button>
        <button title="icono" type="button" data-copy="ic-solar letter"><span class="ic-solar letter"></span></button>
        <button title="icono" type="button" data-copy="ic-solar lock-keyhole"><span class="ic-solar lock-keyhole"></span></button>
        <button title="icono" type="button" data-copy="ic-solar lock-keyhole-unlocked"><span class="ic-solar lock-keyhole-unlocked"></span></button>
        <button title="icono" type="button" data-copy="ic-solar login-3"><span class="ic-solar login-3"></span></button>
        <button title="icono" type="button" data-copy="ic-solar logout-3"><span class="ic-solar logout-3"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map-arrow-down"><span class="ic-solar map-arrow-down"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map"><span class="ic-solar map"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map-point"><span class="ic-solar map-point"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map-point-bold"><span class="ic-solar map-point-bold"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map-point-wave"><span class="ic-solar map-point-wave"></span></button>
        <button title="icono" type="button" data-copy="ic-solar map-point-search"><span class="ic-solar map-point-search"></span></button>
        <button title="icono" type="button" data-copy="ic-solar mention-circle"><span class="ic-solar mention-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar minimalistic-magnifer"><span class="ic-solar minimalistic-magnifer"></span></button>
        <button title="icono" type="button" data-copy="ic-solar moon-stars"><span class="ic-solar moon-stars"></span></button>
        <button title="icono" type="button" data-copy="ic-solar moon-stars-glint"><span class="ic-solar moon-stars-glint"></span></button>
        <button title="icono" type="button" data-copy="ic-solar moon-stars_hover-glint"><span class="ic-solar moon-stars_hover-glint"></span></button>
        <button title="icono" type="button" data-copy="ic-solar mouse"><span class="ic-solar mouse"></span></button>
        <button title="icono" type="button" data-copy="ic-solar pause-circle"><span class="ic-solar pause-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar pin-circle"><span class="ic-solar pin-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar plain"><span class="ic-solar plain"></span></button>
        <button title="icono" type="button" data-copy="ic-solar play-circle"><span class="ic-solar play-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar point-on-map"><span class="ic-solar point-on-map"></span></button>
        <button title="icono" type="button" data-copy="ic-solar refresh-circle"><span class="ic-solar refresh-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar settings"><span class="ic-solar settings"></span></button>
        <button title="icono" type="button" data-copy="ic-solar settings-minimalistic"><span class="ic-solar settings-minimalistic"></span></button>
        <button title="icono" type="button" data-copy="ic-solar user"><span class="ic-solar user"></span></button>
        <button title="icono" type="button" data-copy="ic-solar user-plus"><span class="ic-solar user-plus"></span></button>
        <button title="icono" type="button" data-copy="ic-solar user-circle"><span class="ic-solar user-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar user-rounded"><span class="ic-solar user-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar users-group-two-rounded"><span class="ic-solar users-group-two-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar sun"><span class="ic-solar sun"></span></button>
        <button title="icono" type="button" data-copy="ic-solar sun-big"><span class="ic-solar sun-big"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alarm-add"><span class="ic-solar alarm-add"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-down"><span class="ic-solar alt-arrow-down"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-left"><span class="ic-solar alt-arrow-left"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-right"><span class="ic-solar alt-arrow-right"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-up"><span class="ic-solar alt-arrow-up"></span></button>
        <button title="icono" type="button" data-copy="ic-solar backspace"><span class="ic-solar backspace"></span></button>
        <button title="icono" type="button" data-copy="ic-solar bag"><span class="ic-solar bag"></span></button>
        <button title="icono" type="button" data-copy="ic-solar balls"><span class="ic-solar balls"></span></button>
        <button title="icono" type="button" data-copy="ic-solar bell-bing"><span class="ic-solar bell-bing"></span></button>
        <button title="icono" type="button" data-copy="ic-solar bell"><span class="ic-solar bell"></span></button>
        <button title="icono" type="button" data-copy="ic-solar bell-off"><span class="ic-solar bell-off"></span></button>
        <button title="icono" type="button" data-copy="ic-solar calendar"><span class="ic-solar calendar"></span></button>
        <button title="icono" type="button" data-copy="ic-solar camera"><span class="ic-solar camera"></span></button>
        <button title="icono" type="button" data-copy="ic-solar camera-rotate"><span class="ic-solar camera-rotate"></span></button>
        <button title="icono" type="button" data-copy="ic-solar code-scan"><span class="ic-solar code-scan"></span></button>
        <button title="icono" type="button" data-copy="ic-solar compass"><span class="ic-solar compass"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cup-paper"><span class="ic-solar cup-paper"></span></button>
        <button title="icono" type="button" data-copy="ic-solar danger-circle"><span class="ic-solar danger-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar dollar"><span class="ic-solar dollar"></span></button>
        <button title="icono" type="button" data-copy="ic-solar donut"><span class="ic-solar donut"></span></button>
        <button title="icono" type="button" data-copy="ic-solar donut-bitten"><span class="ic-solar donut-bitten"></span></button>
        <button title="icono" type="button" data-copy="ic-solar donut-hover-bitten"><span class="ic-solar donut-hover-bitten"></span></button>
        <button title="icono" type="button" data-copy="ic-solar end-call-rounded"><span class="ic-solar end-call-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar eye"><span class="ic-solar eye"></span></button>
        <button title="icono" type="button" data-copy="ic-solar eye-line"><span class="ic-solar eye-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar eye-closed-line"><span class="ic-solar eye-closed-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar eye-scan"><span class="ic-solar eye-scan"></span></button>
        <button title="icono" type="button" data-copy="ic-solar euro"><span class="ic-solar euro"></span></button>
        <button title="icono" type="button" data-copy="ic-solar filter"><span class="ic-solar filter"></span></button>
        <button title="icono" type="button" data-copy="ic-solar flash-drive"><span class="ic-solar flash-drive"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gamepad"><span class="ic-solar gamepad"></span></button>
        <button title="icono" type="button" data-copy="ic-solar hashtag-circle"><span class="ic-solar hashtag-circle"></span></button>
        <button title="icono" type="button" data-copy="ic-solar heart"><span class="ic-solar heart"></span></button>
        <button title="icono" type="button" data-copy="ic-solar heart-angle-broken"><span class="ic-solar heart-angle-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar heart-angle-bold"><span class="ic-solar heart-angle-bold"></span></button>
        <button title="icono" type="button" data-copy="ic-solar heart-pulse"><span class="ic-solar heart-pulse"></span></button>
        <button title="icono" type="button" data-copy="ic-solar heart-shine"><span class="ic-solar heart-shine"></span></button>
        <button title="icono" type="button" data-copy="ic-solar hourglass"><span class="ic-solar hourglass"></span></button>
        <button title="icono" type="button" data-copy="ic-solar hourglass-broken"><span class="ic-solar hourglass-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar magic-stick"><span class="ic-solar magic-stick"></span></button>
        <button title="icono" type="button" data-copy="ic-solar masks"><span class="ic-solar masks"></span></button>
        <button title="icono" type="button" data-copy="ic-solar pallete"><span class="ic-solar pallete"></span></button>
        <button title="icono" type="button" data-copy="ic-solar paperclip"><span class="ic-solar paperclip"></span></button>
        <button title="icono" type="button" data-copy="ic-solar phone-calling-rounded"><span class="ic-solar phone-calling-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar phone-rounded"><span class="ic-solar phone-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar qr-code"><span class="ic-solar qr-code"></span></button>
        <button title="icono" type="button" data-copy="ic-solar routing"><span class="ic-solar routing"></span></button>
        <button title="icono" type="button" data-copy="ic-solar running-line"><span class="ic-solar running-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar sd-card"><span class="ic-solar sd-card"></span></button>
        <button title="icono" type="button" data-copy="ic-solar server-square"><span class="ic-solar server-square"></span></button>
        <button title="icono" type="button" data-copy="ic-solar server-square-cloud"><span class="ic-solar server-square-cloud"></span></button>
        <button title="icono" type="button" data-copy="ic-solar server-square-update"><span class="ic-solar server-square-update"></span></button>
        <button title="icono" type="button" data-copy="ic-solar signpost"><span class="ic-solar signpost"></span></button>
        <button title="icono" type="button" data-copy="ic-solar star"><span class="ic-solar star"></span></button>
        <button title="icono" type="button" data-copy="ic-solar streets-map-point"><span class="ic-solar streets-map-point"></span></button>
        <button title="icono" type="button" data-copy="ic-solar subtitles"><span class="ic-solar subtitles"></span></button>
        <button title="icono" type="button" data-copy="ic-solar trash-bin-minimalistic"><span class="ic-solar trash-bin-minimalistic"></span></button>
        <button title="icono" type="button" data-copy="ic-solar trash-bin-trash"><span class="ic-solar trash-bin-trash"></span></button>
        <button title="icono" type="button" data-copy="ic-solar tuning"><span class="ic-solar tuning"></span></button>
        <button title="icono" type="button" data-copy="ic-solar user-id"><span class="ic-solar user-id"></span></button>
        <button title="icono" type="button" data-copy="ic-solar wallet-money"><span class="ic-solar wallet-money"></span></button>
        <button title="icono" type="button" data-copy="ic-solar widget-4"><span class="ic-solar widget-4"></span></button>
        <button title="icono" type="button" data-copy="ic-solar widget-5"><span class="ic-solar widget-5"></span></button>
        <button title="icono" type="button" data-copy="ic-solar window-frame"><span class="ic-solar window-frame"></span></button>
        <button title="icono" type="button" data-copy="ic-solar tuning-square"><span class="ic-solar tuning-square"></span></button>
        <button title="icono" type="button" data-copy="ic-solar hamburger-menu-line"><span class="ic-solar hamburger-menu-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar menu-dots"><span class="ic-solar menu-dots"></span></button>
        <button title="icono" type="button" data-copy="ic-solar close-rounded"><span class="ic-solar close-rounded"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gallery-wide"><span class="ic-solar gallery-wide"></span></button>
        <button title="icono" type="button" data-copy="ic-solar monitor"><span class="ic-solar monitor"></span></button>
        <button title="icono" type="button" data-copy="ic-solar smartphone"><span class="ic-solar smartphone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar monitor-smartphone"><span class="ic-solar monitor-smartphone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar dots-fade"><span class="ic-solar dots-fade"></span></button>
        <button title="icono" type="button" data-copy="ic-solar posts-carousel-vertical"><span class="ic-solar posts-carousel-vertical"></span></button>
        <button title="icono" type="button" data-copy="ic-solar posts-carousel-horizontal"><span class="ic-solar posts-carousel-horizontal"></span></button>
        <button title="icono" type="button" data-copy="ic-solar github-icon"><span class="ic-solar github-icon"></span></button>
        <button title="icono" type="button" data-copy="ic-solar maximize-square"><span class="ic-solar maximize-square"></span></button>
        <button title="icono" type="button" data-copy="ic-solar square-bottom-up"><span class="ic-solar square-bottom-up"></span></button>
        <button title="icono" type="button" data-copy="ic-solar share"><span class="ic-solar share"></span></button>
        <button title="icono" type="button" data-copy="ic-solar shield-keyhole"><span class="ic-solar shield-keyhole"></span></button>
        <button title="icono" type="button" data-copy="ic-solar key"><span class="ic-solar key"></span></button>
        <button title="icono" type="button" data-copy="ic-solar box-minimalistic"><span class="ic-solar box-minimalistic"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cursor-square"><span class="ic-solar cursor-square"></span></button>
        <button title="icono" type="button" data-copy="ic-solar chat-round-line"><span class="ic-solar chat-round-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar chat-round-line-broken"><span class="ic-solar chat-round-line-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar chat-round-line-linear"><span class="ic-solar chat-round-line-linear"></span></button>
        <button title="icono" type="button" data-copy="ic-solar calendar-mark"><span class="ic-solar calendar-mark"></span></button>
        <button title="icono" type="button" data-copy="ic-solar calendar-mark-broken"><span class="ic-solar calendar-mark-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gps-bold"><span class="ic-solar gps-bold"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gps-bold-duotone"><span class="ic-solar gps-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gps-broken"><span class="ic-solar gps-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gps-line-duotone"><span class="ic-solar gps-line-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar gps-linear"><span class="ic-solar gps-linear"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-rain-bold-duotone"><span class="ic-solar cloud-rain-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-rain-line-duotone"><span class="ic-solar cloud-rain-line-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-bolt-bold-duotone"><span class="ic-solar cloud-bolt-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-snowfall-bold-duotone"><span class="ic-solar cloud-snowfall-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-storm-bold-duotone"><span class="ic-solar cloud-storm-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar clouds-bold-duotone"><span class="ic-solar clouds-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloudy-moon-bold-duotone"><span class="ic-solar cloudy-moon-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar cloud-sun-bold-duotone"><span class="ic-solar cloud-sun-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar snowflake-bold-duotone"><span class="ic-solar snowflake-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar fog-bold-duotone"><span class="ic-solar fog-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar waterdrops"><span class="ic-solar waterdrops"></span></button>
        <button title="icono" type="button" data-copy="ic-solar waterdrops-line"><span class="ic-solar waterdrops-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar wind-bold"><span class="ic-solar wind-bold"></span></button>
        <button title="icono" type="button" data-copy="ic-solar wind-duotone"><span class="ic-solar wind-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar wind-broken"><span class="ic-solar wind-broken"></span></button>
        <button title="icono" type="button" data-copy="ic-solar academic-cap"><span class="ic-solar academic-cap"></span></button>
        <button title="icono" type="button" data-copy="ic-solar folder-cut"><span class="ic-solar folder-cut"></span></button>
        <button title="icono" type="button" data-copy="ic-solar double-alt-arrow-left"><span class="ic-solar double-alt-arrow-left"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-left-line"><span class="ic-solar alt-arrow-left-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar alt-arrow-right-line"><span class="ic-solar alt-arrow-right-line"></span></button>
        <button title="icono" type="button" data-copy="ic-solar double-alt-arrow-right"><span class="ic-solar double-alt-arrow-right"></span></button>
        <button title="icono" type="button" data-copy="ic-solar file-download-bold-duotone"><span class="ic-solar file-download-bold-duotone"></span></button>
        <button title="icono" type="button" data-copy="ic-solar pen-bold-duotone"><span class="ic-solar pen-bold-duotone"></span></button>
    </div>
</div>
{% endblock %}