{% extends "base.html" %}
{% load static %}
{% block titleend %}| Bienvenidos{% endblock %}
{% block linksextra %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/aside.css' %}" />
<link rel="stylesheet" href="{% static 'libraries/swiper-bundle.min.css' %}" />

<meta name="keywords"
    content="Portafolio, Salvador Alejandro Hernandez Cepeda, EVND, Entornos Virtuales y Negocios Digitales, Desarrollo Web, Desarrollo Full-stack, Aplicaciones web" />
<meta name="description"
    content="Con el fin de demostrar mis habilidades como Ingeniero en Entornos Virtuales y Negocios Digitales se miestran en este sitio web los proyectos personales que eh desarrollado de forma independiente." />
{% endblock %}

{% block bodyclass %}update_link{% endblock %}
{% block navfirst %}#tabHome{% endblock %}

{% block sectparentclass %}flexbox gap{% endblock %}
{% block sectchildid %}id="containerTabs"{% endblock %}
{% block sectchildclass %}container transparent has_swiper{% endblock %}
{% block aside %}
<aside class="container close" data-listening="scroll">
    <button type="button" id="close_aside" class="btn btn-second btn-hover btn-icon" data-toggle="aside-close" title="Abrir/Cerrar Perfil">
        <span class="ic-solar alt-arrow-right"></span>
    </button>
    <section id="contAbout" class="content listen_scroll">
        <article class="profile-box">
            <div class="photo-box">
                <div class="photo-item">
                    <img src="{% static 'img/pop_profile.png' %}" title="Imagen, Perfil del creador" alt="Salvador hernandez Cepeda, Foto de perfil" />
                    <span></span>
                    <span></span>
                    <h2>Soy Salvador Hernández Cepeda</h2>
                </div>
            </div>
        </article>
        <div class="p-15">
            <h2 class="aboutTitle center mb-15">Soy Salvador Hernández Cepeda</h2>
            <p class="justify">
                Ingeniero en TI, área Entornos Virtuales y Negocios Digitales con experiencia en desarrollo web y <b>gestión de proyectos</b>, me especializo en
                desarrollo con JavaScript y
                <b>Python</b>, además de edición de imágenes y video. He liderado proyectos que han mejorado el rendimiento y productividad.
            </p>
            <p class="mt-35">Idiomas:</p>
            <p class="mt-35">Contacto:</p>
        </div>
        <article class="submenu">
            <!-- <a id="btnNotificacion" class="btn btn-submenu btn-content btn-hover" title="Notificacion" data-image="{% static 'img/main_icon.webp' %}">
                <span class="ic-solar star"></span>
                <span class="btn-title">Mostrar Notificación</span>
            </a>
            <a href="{% url 'singuppage' %}" class="btn btn-icon btn-hover" title="perfil">
                <span class="ic-solar user-plus"></span>
            </a> -->
            <a href="https://github.com/Stranger11ac" target="_blank" rel="noopener noreferrer" class="btn btn-submenu btn-content btn-hover">
                <span class="ic-solar github-icon"></span>
                <span class="btn-title">GitHub</span>
            </a>
            <a href="mailto:salvahdzcep@gmail.com?subject=Propuesta%20de%20proyecto&body=Hola,%20me%20gustaría%20saber%20más%20sobre..." target="_blank" rel="noopener noreferrer"
                class="btn btn-submenu btn-content btn-hover">
                <span class="ic-solar letter"></span>
                <span class="btn-title">Email</span>
            </a>
            <a href="tel:8445505525" class="btn btn-submenu btn-content btn-hover">
                <span class="ic-solar call-chat-rounded"></span>
                <span class="btn-title">Número Personal</span>
            </a>
        </article>
    </section>
</aside>
{% endblock %}

{% block main %}
<div class="tabs">
    <div class="tab will_transparent grid grid-index" data-tab="tabHome">
        <div class="grid-item transparent swiper" data-interval="10000">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img loading="eager" src="{% static 'img/header_1.jpg' %}" alt="Imagen programas y aplicaciones" />
                    <div class="box-details mb-30">
                        <h2>Programas y Aplicaciones</h2>
                        <div class="blockquote-rounded flexbox flex-column">
                            <p>word, excel, powerP, premierPro, Photoshop, illustrator, Blender, VScode, Workbench, XAMPP, Unity, Godot</p>
                            <a href="" title="ver mas" class="btn btn-content">Ver más <span class="ic-solar square-bottom-up"></span></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img loading="eager" src="{% static 'img/header_4.jpg' %}" alt="imagen 2 programas y aplicaciones" />
                    <div class="box-details mb-30">
                        <h2>Programas y Aplicaciones</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati maxime rerum iusto atque error sit sed expedita, inventore
                            consectetur exercitationem.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img loading="eager" src="{% static 'img/header_3.jpg' %}" alt="app 3 programas y aplicaciones" />
                    <div class="box-details mb-30">
                        <h2>Programas y Aplicaciones</h2>
                        <a href="" title="ver mas" class="btn btn-content">Ver más <span class="ic-solar square-bottom-up"></span></a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <a href="#tabProjects" class="grid-item card-picture card-picture-zoom item-2">
            <img loading="eager" src="{% static 'img/header_3.jpg' %}" class="picture" alt="Imagen Full-stack Web Developer" />
            <div class="item__details"><span class="ic-solar cursor-square"></span> Full-stack Web Developer</div>
        </a>
        <a href="#tabProjects" class="grid-item card-picture card-picture-zoom item-3">
            <img loading="eager" src="{% static 'img/header_4.jpg' %}" class="picture" alt="Imagen Modelado / Animación 3D" />
            <div class="item__details"><span class="ic-solar box-minimalistic"></span> Modelado / Animación 3D</div>
        </a>
        <a href="#tabProjects" class="grid-item card-picture card-picture-zoom item-4">
            <img loading="eager" src="{% static 'img/header_2.jpg' %}" class="picture" alt="Imagen Desarrollo de Videojuegos" />
            <div class="item__details"><span class="ic-solar gamepad"></span> Desarrollo de Videojuegos</div>
        </a>
        <a href="#tabProjects" class="grid-item card-picture card-picture-zoom item-5">
            <img loading="eager" src="{% static 'img/header_1.jpg' %}" class="picture" alt="Imagen Edición de Imágenes y video" />
            <div class="item__details"><span class="ic-solar magic-stick"></span> Edición de Imágenes y video</div>
        </a>
    </div>
    <div class="tab will_transparent" data-tab="tabProjects">
        <div class="grid grid-cols">
            <div class="card">
                <div class="image-group a-end">
                    <img src="{% static 'img/header_4.jpg' %}" alt="Imagen encabezado de la app Clima" />
                    <div class="image_header">
                        <h2>Clima</h2>
                    </div>
                </div>
                <div class="card-body">
                    Aplicacion para mostrar el clima con "weaterAPI" con un estilo que sigue el tema de esta app, se puede buscar el clima escribieno una
                    consulta o accediendo a tu ubicacion actual.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="{% url 'weather_app' %}" class="btn btn-content btn-hover">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="image-group a-end">
                    <img src="{% static 'img/header_2.jpg' %}" alt="Imagen encabezado de la app Ruleta" />
                    <div class="image_header">
                        <h2>Ruleta</h2>
                    </div>
                </div>
                <div class="card-body">
                    Ruleta con tados editables, con la posibilidad de agregar datos naminalmente o meidnate un archivo CSV o EXS, los datos se pueden volver a editar, tachar o descartrar al ser seleccionados.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="{% url 'spin_app' %}" class="btn btn-content btn-hover">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card card-picture minh-400">
                <img src="{% static 'img/header_1.jpg' %}" alt="Imagen encabezado de la app Mapa" class="picture" />
            </div>
            <div class="card">
                <div class="image-group a-center">
                    <img src="{% static 'img/header_4.jpg' %}" alt="Imagen encabezado de la app Calendario" />
                    <div class="image_header">
                        <h2>Calendario</h2>
                    </div>
                </div>
                <div class="card-body">
                    Calendario interactivo, se pueden crear eventos y recordatorios, agregar titulo, description, 1 imagen, ubicacion, personas invilucradas. Crear notificacion para el evento. Agregar eventos desde Google Calendar.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="{% url 'calendar_app' %}" class="btn btn-content btn-hover">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="image-group">
                    <img src="{% static 'img/header_1.jpg' %}" alt="Imagen encabezado de la app Mapa" />
                    <div class="image_header">
                        <h2>Mapa</h2>
                    </div>
                </div>
                <div class="card-body">
                    <span class="dot-progress purple"></span> Sistema de rutas con mapbox, mostrar informacion de ciertos lugares, colocar poligonos, editar
                    dichos poligonos, medir areas, tiempo de
                    recorrido.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="{% url 'mapbox_app' %}" class="btn btn-content btn-hover">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card card-picture minh-400">
                <img src="{% static 'img/header_1.jpg' %}" alt="Imagen encabezado de la app Mapa" class="picture" />
            </div>
            <div class="card">
                <div class="image-group a-end">
                    <img src="{% static 'img/header_2.jpg' %}" alt="Imagen encabezado de la app Quiz y Examenes" />
                    <div class="image_header">
                        <h2>Quiz y Examenes</h2>
                    </div>
                </div>
                <div class="card-body">
                    <span class="dot-progress orange"></span> Sistema de creacion de quiz y examenes, crea los objetos, preguntas, respuestas correctas,
                    puntuacion, participantes, duracion.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="#tabProjects" class="btn btn-content btn-hover btn-disable">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="image-group a-center">
                    <img src="{% static 'img/header_3.jpg' %}" alt="Imagen encabezado de la app Generador QR" />
                    <div class="image_header">
                        <h2>Generador QR</h2>
                    </div>
                </div>
                <div class="card-body">
                    <span class="dot-progress orange"></span> Sistema para generar codigos QR de distintos tamaños, con distintas formas y colores, agregar una
                    imagen y descargar como imagen
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="#tabProjects" class="btn btn-content btn-hover btn-disable">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="image-group">
                    <img src="{% static 'img/header_1.jpg' %}" alt="Imagen encabezado de la app Editor de Imagenes" />
                    <div class="image_header">
                        <h2>Editor de Imagenes</h2>
                    </div>
                </div>
                <div class="card-body">
                    <span class="dot-progress orange"></span> Sistema para subir imagenes y editarlas segun las posisbilidades de edicion con CSS, ademas de
                    dibujar encima de ellas.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="#tabProjects" class="btn btn-content btn-hover btn-disable">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="image-group">
                    <img src="{% static 'img/header_4.jpg' %}" alt="Imagen encabezado de la app Botos" />
                    <div class="image_header">
                        <h2>Botos</h2>
                    </div>
                </div>
                <div class="card-body">
                    <span class="dot-progress orange"></span> Sistema de botacion, se pueden agregar las opciones a botar, participantes, mostrar el numero de
                    botos en tiempo real, con la posibilidad
                    de agregar imagenes a las opciones.
                </div>
                <div class="card-footer flexbox flex-end">
                    <a href="#tabProjects" class="btn btn-content btn-hover btn-disable">Ver más <span class="ic-solar square-bottom-up"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab will_transparent flexbox-center flex-column gap2" data-tab="tabLogin">
        <form class="content_form maxw-600" action="{% url 'singin' %}" data-submit autocomplete="off">
            <h2 class="center">Iniciar Sesión</h2>
            {% csrf_token %}

            <div class="input_group group_icon-end">
                <label class="icon-input" for="sesionName"> <span class="ic-solar user-circle"></span></label>
                <input type="text" name="username" id="sesionName" placeholder="Usuario:" required />
            </div>

            <div class="input_group group_icon-end">
                <label class="icon-input" for="sesionPass"> <span class="ic-solar key"></span></label>
                <input type="password" name="password" id="sesionPass" placeholder="Contraseña:" required />
            </div>

            <button type="submit" class="btn btn-hover">Entrar <span class="ic-solar login-3"></span></button>
        </form>
        <div class="content_form maxw-600 center">
            <a href="{% url 'forgotten' %}">Olvidaste Tu Contraseña?... <span class="ic-solar square-bottom-up"></span></a>
        </div>
    </div>
    <div data-listening="scroll-chil">
        <div class="tab last-padding has_header listen_scroll" data-tab="tabAbout">
            <div id="tabAbout"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'libraries/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/aside.js' %}"></script>
<script src="{% static 'js/submit.js' %}"></script>
<script src="{% static 'js/notification.js' %}"></script>
{% endblock %}