{% extends "base.html" %}
{% load static %}
{% block titlefirst %}Ruleta Interactiva | Proyectos{% endblock %}
{% block linksextra %}
<link rel="stylesheet" href="{% static 'css/spin.css' %}" />
<link rel="stylesheet" href="{% static 'css/introjs.min.css' %}" />
{% endblock %}

{% block bodyAttr %}data-intro="viewSpinIntro"{% endblock %}
{% block navtitleextra %} - Ruleta{% endblock %}
{% block navlinks %}{% include 'jobs_nav_links.html' %}{% endblock %}

{% block sectchildclass %}container{% endblock %}
{% block main %}
<div class="content last-padding">
    <div class="content_spin">
        <div class="canvas_box">
            <canvas id="canvas" width="300" height="300" class="flexbox-center"></canvas>
            <button type="button" id="spin" class="btn-invert btn-icon transparent" title="Iniciar Ruleta"><span class="ic-solar play-circle"></span></button>
            <span id="arrow" class="ic-solar map-arrow-down"></span>
        </div>

        <div>
            <form id="addOptionForm" class="flexbox">
                <div class="input_group group_icon" id="groupNewOp">
                    <label class="icon-input" for="newOption"> <span class="ic-solar donut-bitten"></span></label>
                    <input type="text" id="newOption" placeholder="Nueva opción:" required />
                </div>
                <button type="submit" class="btn-invert btn-icon btn-hover" title="Enviar opcion"><span class="ic-solar add-circle"></span></button>
                <button type="button" class="btn-invert btn-icon btn-hover" data-click="#fileList" id="upList" title="Subir Lista"><span class="ic-solar folder-cut"></span></button>
                <button type="button" class="btn-invert btn-icon btn-hover" data-toggle="#modalHistory-visible" id="historyBtn" title="Abrir historial"><span
                        class="ic-solar history-line-duotone"></span></button>
            </form>
            <!-- Formulario para crear lista con gpt -->
            <form id="createList" class="flexbox mt-gap none">
                <div class="input_group group_icon" id="createListGroup">
                    <label class="icon-input" for="list_theme" name="list_theme"> <span class="ic-solar layers"></span></label>
                    <input type="text" id="list_theme" placeholder="Crear Lista del Tema:" required />
                </div>
                <input type="number" name="list_count" id="list_count" class="center input_square" min="1" value="10" max="40" title="Cantidad de objetos de la lista">
                <button type="submit" class="btn-invert btn-icon btn-hover" title="Enviar tema"><span class="ic-solar alt-arrow-right"></span></button>
            </form>
            <!-- Formulario para crear lista con gpt -->
            <input type="file" name="fileList" id="fileList" class="none" data-post="{% url 'spin_up_list' %}" accept=".xlsx,.xls" placeholder="Subir Excel">
            <form class="mt-gap box_list">
                <div class="slide_list bg-bgcolor radius flexbox a-center mb-gap">
                    <input type="checkbox" id="listHeaderCheck" class="none">
                    <label for="listHeaderCheck" class="wh100 p-10" data-toggle="#optionsList-none">
                        <span class="slide_icon ic-solar alt-arrow-right"></span> <span id="listLenght">15</span> Opciones
                    </label>
                    <button type="button" id="delCurrentList" class="btn btn-icon hover-red" title="Borrar Lista"><span class="ic-solar trash-bin-trash"></span></button>
                </div>
                <ul id="optionsList" class="flexbox flex-column column-invert list_ul none"></ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block endSettings %}
<div class="settings_group">
    <div>Activar Tutorial:</div>
    <button type="button" class="btn btn-icon btn-hover" id="startTour" title="Activar Tutorial" data-click="[data-close]">
        <span class="ic-solar widget-5"></span>
    </button>
</div>
{% endblock %}

{% block endContent %}
<div class="fixed flexbox-center" id="modalHistory">
    <article class="modal">
        <div class="modal_header center">
            <h2>Historial <span class="ic-solar history-line-duotone"></span></h2>
        </div>
        <div class="modal_body">
            <ul id="history" class="flexbox flex-column list_ul"></ul>
        </div>
        <div class="modal_footer flex-end">
            <button type="button" class="btn btn-content hover-red" data-toggle="#modalHistory-visible">Cerrar <span class="ic-solar close-circle-bold-duotone"></span></button>
        </div>
    </article>
</div>
{% endblock %}

{% block scriptsextra %}
<script src="{% static 'js/intro.min.js' %}"></script>
<script src="{% static 'js/intro.js' %}"></script>
<script src="{% static 'js/spin.js' %}"></script>
{% endblock %}